<div style="align-items: center; display: flex;">
    <div style="width:10px;">
        <img src="https://wallpaperaccess.com/full/2404604.jpg" width="2550px" />
    </div>
    <div style="margin-left:250px;">
        <div class="card" style="width: 450px;">
            <div class="card-body pt-5">
                <div class="login-input">
                    <a class="text-center ml-5">
                        <img width="200" height="80"
                            src="https://showponycreative.com.au/showpony_content/uploads/2020/02/302-3020719_youtube-music-logo-png-transparent-background-youtube-logo.jpg">
                    </a>
                    <div class="form-group mt-5">
                        Kullanıcı Adı
                        <input type="text" class="form-control" maxlength="35" #name />
                    </div>
                    <div class="form-group">
                        Şifre
                        <input type="password" class="form-control" maxlength="18" #password />
                    </div>
                    <div class="form-group">
                        Hakkınızda
                        <textarea cols="5" rows="3" class="form-control" maxlength="300" #about></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Kayıt Ol" class="btn btn-google submit w-100"
                            (click)="registir(name.value,password.value,about.value)" />
                    </div>
                    <div class="form-group" style="color: red;">
                        {{registerError}}
                    </div>
                </div>
                <p class="mt-5 text-primary">Hesabınız var mı ? <a href="/login">Giriş Yap</a></p>
            </div>
        </div>
    </div>
</div>