<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
    style="width: 230px; height: auto; background-color: black; margin-left: -10px;">
    <ul class="nav nav-pills flex-column mb-auto">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-home"></i></span>
                Ana Sayfa
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-film"></i></span>
                Shorts
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-paper-plane-o"></i></span>
                Abonelikler
            </a>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-paper-plane-o"></i></span>
                Kitaplık
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-clock"></i></span>
                Geçmiş
            </a>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link text-white">
                Videoları beğenmek, yorum yapmak ve abone olmak için oturum açın.
            </a>
            <button class="btn btn-dark ml-3" style="border-radius:20px; background-color: black;">
                <span style="color: #3893e1"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;Oturum
                    Aç</span>
            </button>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-fire"></i></span>
                Trendler
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-music"></i></span>
                Müzik
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-gamepad"></i></span>
                Oyun
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-soccer-ball-o"></i></span>
                Spor
            </a>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-plus"></i></span>
                Kanallara göz at
            </a>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i style="color: red;" class="icon-social-youtube"></i></span>
                Youtube Premium
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i style="color: red;" class="icon-social-youtube"></i></span>
                Youtube Music
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i style="color: red;" class="icon-social-youtube"></i></span>
                Youtube Kids
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i style="color: red;" class="icon-social-youtube"></i></span>
                Youtube TV
            </a>
        </li>
        <hr style="background-color: #525252;">
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="icon-settings"></i></span>
                Ayarlar
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-question-circle-o"></i></span>
                Yardım
            </a>
        </li>
        <li>
            <a href="#" class="nav-link active" aria-current="page"
                style="background-color: black; display:flex; align-items:center">
                <span class="nav-link px-2 link-secondary">
                    <i class="fa fa-exclamation-circle"></i></span>
                Geri bildirim gönder
            </a>
        </li>
    </ul>
</div>